.page-heading {
  font-size: $font-size-huge;
  font-weight: $font-weight-normal;
  line-height: $font-line-height-large;
}

.page-subheading {
  font-size: $font-size-regular;
  line-height: $font-line-height-normal;
  margin: 0;
  padding: 2% 0 0 0;
}
